@model Posao


@{
    ViewBag.Title = "Novi posao";
}

<h2>Unos novog posla</h2>

<form asp-action="Create" method="post">
    <div asp-validation-summary="All"></div>

    <div class="form-group">
        <label asp-for="UslugaId"></label>
        <select class="form-control" asp-for="UslugaId" asp-items="ViewBag.Usluge">
            <option disabled selected value="">Odaberite uslugu</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="MjestoId">Mjesto</label>
        <select class="form-control" asp-for="MjestoId" asp-items="ViewBag.Mjesta">
            <option disabled selected value="">Odaberite mjesto</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Cijena"></label>
        <div><span asp-validation-for="Cijena" class="text-danger" /></div>
        <input maxlength="5" asp-for="Cijena" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Vrijeme"></label>
        <div><span asp-validation-for="Vrijeme" class="text-danger" /></div>
        <input type="datetime-local" asp-for="Vrijeme" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Troskovi"></label>
        <div><span asp-validation-for="Troskovi" class="text-danger" /></div>
        <input asp-for="Troskovi" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="PosaoOprema">Oprema</label>
        <select class="form-control" asp-for="PosaoOprema" asp-items="ViewBag.Oprema">
            <option disabled selected value="">Odaberite opremu</option>
        </select>
    </div>
    <a href="../zaposlenikposaos/create">Unos zaposlenika</a>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Dodaj</button>
        <a asp-action="Index" class="btn btn-secondary">Odustani</a>
    </div>



</form>
