@using OzoMvc.Models;
@model IEnumerable<OzoMvc.Models.Posao>
@{
    ViewData["Title"] = "Popis poslova";
}


<table class="table table-sm table-striped table-hover" id="tabledrzave">
    <thead>
        <tr>
            <th>id</th>
            <th>cijena</th>
            <th>usluga</th>
            <th>troskovi</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var poslovi in Model)
        {
            <tr>
                <td class="text-center">@poslovi.Id</td>
                <td class="text-left">@poslovi.Cijena</td>
                <td class="text-center">@poslovi.UslugaId</td>
                <td class="text-center">@poslovi.Troskovi</td>
            </tr>
        }
    </tbody>
</table>