@model PosloviViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@foreach (var posao in Model.Poslovi)
{
    <partial name="Row" model="posao"  />
}


