
@{
  ViewData["Title"] = "Izvještaji";
}
<h3>Izvještaji</h3>


<div class="container">
<ul class="list-group">
  <li class="list-group-item">
    <a target="_blank" asp-action="Poslovi">Ispis profitabilnosti sklopljenih poslova</a>
  </li>
  <li class="list-group-item">
    <a target="_blank" asp-action="Radnici">Deset najplaćenijih radnika</a>
  </li>
  <li class="list-group-item">
    <a target="_blank" asp-action="Opreme1">Deset najskupljih oprema</a>
  </li>
   <li class="list-group-item">
    <a target="_blank" asp-action="Opreme">Popis opreme s knjigovodstvenom vrijednosti nula</a>
  </li>
  <li class="list-group-item">
    <a target="_blank" asp-action="Usluge">Deset najskupljih usluga</a>
  </li>
 
</ul>
</div>