<table id="template" style="visibility:hidden">
    <tr>
        <td class="text-left col-sm-4">
            <input type="hidden" name="Stavke.Index" value="--sifra--" />
            <input type="hidden" name="Stavke[--sifra--].PonudjivacId" value="--sifra--" />
            <input type="hidden" name="Stavke[--sifra--].Ponudjivac" value="--naziv--" />
            --naziv--
        </td>
        <td class="text-center col-sm-1">
            <input name="Stavke[--sifra--].CijenaPonude" class="form-control" value="--ponuda--" />
        </td>
              <td>
                        <select  name="Stavke[--sifra--].DobivenNatjecaj"  >
                        <option  value=true --selected2-->Da</option>
                        <option  value=false --selected1-->Ne</option>
                        
                        </select>
                
                </td> 
                
            <td>
            <button class="btn btn-sm btn-dark deleterow" title="Izbaci"><i class="fas fa-minus"></i></button>
        </td>
    </tr>
</table>
