@{
    ViewData["Title"] = "Početna stranica";
}
    <div class="container">
        <h1>Programsko inženjerstvo FSRE 2020 grupa 5</h1>

        <p>

            <ul>
                <li>Ana Biloš</li>
                <li>Andrija Biloš</li>
                <li>Dragan Drljepan</li>
                <li>Luka Blažević</li>
                <li>Petar Šimović</li>










            </ul>
        </p>
    </div>
@section styles{
    <link rel="stylesheet" href="~/lib/jqueryui/themes/base/jquery-ui.css" />
}

@section scripts{
    <script src="~/lib/jqueryui/jquery-ui.js"></script>
    <script src="~/lib/jqueryui/ui/i18n/datepicker-hr.js"></script>
    <script src="~/js/autocomplete.js"></script>


}