@model OzoMvc.ViewModels.ZaposlenikFilter

<form id="filterform" asp-action="Filter" method="post">
    <div class="form-group row">
        <label asp-for="Id" class="col-sm-2 col-form-label">Prezime</label>
        
            <input asp-for="Id" type="hidden" class="form-control" data-autocomplete-placeholder="zaposlenik" />
        
        <div class="col-sm-6">
            <input class="form-control" data-autocomplete="zaposlenik" asp-for="Prezime" />
        </div> 
 
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Iznos</label>
        <div class="col-sm-4">
            <input asp-for="IznosOd" class="form-control" />
        </div>
        <div class="col-sm-1">
            -
        </div>
        <div class="col-sm-4">
            <input asp-for="IznosDo" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Datum</label>
        <div class="col-sm-4">
            <input asp-for="DatumOd" class="form-control" />
        </div>
        <div class="col-sm-1">
            -
        </div>
        <div class="col-sm-4">
            <input asp-for="DatumDo" class="form-control" />
        </div>
        <div class="col-sm-1 text-nowrap">
            <button type="submit" class="btn btn-sm btn-secondary" title="Postavi filter"><i class="fas fa-filter"></i></button>           
               
            <a class="btn btn-sm btn-secondary" asp-action="Index" title="Ukloni filter">
                <i class="fas fa-trash"></i>
            </a>
        </div>
    </div>
</form>